@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quên mật khẩu - An Phát Computer</title>
    <link rel="shortcut icon" href="~/wwwroot/images/anphatsafari.png">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="~/Content/assets/css/demos/demo-13.css">
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper">
        <main class="main">
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="height: 100vh; background-image: url('/wwwroot/images/login.jpg')">
                <div class="container">
                    <div class="form-box">
                        <div class="form-tab">
                            <h3 class="text-center mb-4">Quên mật khẩu</h3>
                            <form id="forgotPasswordForm">
                                <div class="form-group">
                                    <label for="email">Địa chỉ email *</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>Gửi mật khẩu mới</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </div>
                            </form>
                            <div class="text-center mt-3">
                                <a href="@Url.Action("Index", "Login")" class="forgot-link">Quay lại đăng nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script>
        $(document).ready(function () {
            $('#forgotPasswordForm').submit(function (e) {
                e.preventDefault();
                var email = $('#email').val();
                
                $.ajax({
                    url: '@Url.Action("ForgotPassword", "Login")',
                    type: 'POST',
                    data: { email: email },
                    success: function (result) {
                        if (result.success) {
                            toastr.success(result.message);
                            setTimeout(function () {
                                window.location.href = '@Url.Action("Index", "Login")';
                            }, 2000);
                        } else {
                            toastr.error(result.message);
                        }
                    },
                    error: function () {
                        toastr.error('Có lỗi xảy ra. Vui lòng thử lại sau.');
                    }
                });
            });
        });
    </script>
</body>
</html> 