@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('/Content/assets/images/contact-header-bg.jpg')">
            <h1 class="page-title text-white">Giới thiệu về NEOTECH<span class="text-white">20 năm hành trình của niềm tin</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-section">
                        <h2 class="title mb-3">Thông tin công ty</h2>
                        <p class="mb-2">
                            <strong>Tên công ty:</strong> CÔNG TY CỔ PHẦN THƯƠNG MẠI MÁY TÍNH NEOTECH<br>
                            <strong>Tên giao dịch quốc tế:</strong> AN PHAT COMPUTER TRADING JOINT STOCK COMPANY<br>
                            <strong>(Trực thuộc):</strong> CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ TIN HỌC NEOTECH - MST: 0101468933<br>
                            <strong>Địa chỉ:</strong> Tầng 5, số 49 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Thành Phố Hà Nội, Việt Nam.<br>
                            <strong>Giấy CNĐKKD và mã số doanh nghiệp số:</strong> 0108940873 do sở Kế hoạch & Đầu tư thành phố Hà Nội cấp<br>
                            <strong>Đại diện theo pháp luật của doanh nghiệp:</strong> Bà Lê Thị Hương Giang - Tổng Giám Đốc
                        </p>

                        <h2 class="title mb-3 mt-5">1. Giới thiệu chung</h2>
                        <p class="mb-2">
                            Thành lập vào ngày 29/03/2004, trải qua hai thập kỷ không ngừng phát triển, NEOTECH Computer đã liên tục tăng trưởng, mở rộng thị trường và trở thành một trong những doanh nghiệp hàng đầu trong lĩnh vực bán buôn và bán lẻ các sản phẩm máy tính, lap top hàng đầu thị trường. 
                        <p class="mb-2">
                            Năm 2024, NEOTECH Computer vinh dự kỷ niệm 20 năm thành lập, đánh dấu chặng đường hai thập kỷ uy tín, cam kết không ngừng cải thiện chất lượng dịch vụ, đem đến cho khách hàng những sản phẩm công nghệ hi-end, hi-tech nhất thị trường.
                        </p>
                        <p class="mb-2">
                            Showroom đầu tiên của NEOTECH Computer nằm tại địa chỉ số 49 Thái Hà, Đống Đa, Hà Nội.
                        </p>
                        <p class="mb-2">
                            Xuyên suốt hành trình xây dựng và phát triển, tiêu chí "Uy tín" và "Chuyên nghiệp" luôn được NEOTECH Computer đặt lên hàng đầu. Bên cạnh đó, những sản phẩm chất lượng với mức giá cạnh tranh, dịch vụ tư vấn tận tâm, chính sách bán hàng, bảo hành cùng đội ngũ cán bộ nhân viên được đào tạo chuyên nghiệp cũng góp phần tạo ra những giá trị đích thực, giúp cho NEOTECH Computer gặt hái được nhiều thành công. Tới nay doanh nghiệp đã có 07 showroom bán hàng ở các thành phố lớn tại Hà Nội, TP. Hồ Chí Minh, Bắc Ninh và 01 Trung tâm phân phối & dự án. Đến các cửa hàng thuộc hệ thống NEOTECH Computer, khách hàng luôn có được sự hài lòng với quy trình tư vấn bài bản của nhân viên nhằm lựa chọn cho mình những sản phẩm ưng ý nhất theo phương châm: "Mỗi khách hàng là một con người - một cá thể riêng biệt, cần được tôn trọng, quan tâm và lắng nghe, thấu hiểu và phục vụ một cách riêng biệt.".
                        </p>
                        <p class="mb-2">
                            Sự tận tâm trong mọi hoạt động của NEOTECH Computer cũng đồng thời đem tới cho doanh nghiệp những sự ghi nhận và giải thưởng danh giá. Lên tiếp trong 6 năm kể từ năm 2018 đến nay, doanh nghiệp liên tục lọt vào Top 500 doanh nghiệp lớn nhất Việt Nam; Top 50 doanh nghiệp lớn nhất Việt Nam năm 2022 & 2023; Top 500 doanh nghiệp tăng trưởng nhanh nhất Việt Nam 2016 & 2023, và hàng loạt giải thưởng danh giá khác.
                        </p>
                        <p class="mb-2">
                            NEOTECH Computer cũng là đối tác bán hàng danh dự được nhiều nhãn hàng máy tính, thiết bị điện tử lớn trên thế giới "chọn mặt gửi vàng" như DELL, HP, Intel, Asus, Kingston, AMD, Microsoft, Lenovo, MSI, Nvidia, Gigabyte,Canon,... trong nhiều năm nhờ vào thành tích bán hàng, phân phối sản phẩm ấn tượng. Sự ghi nhận và tin tưởng của các nhãn hàng đã tiếp thêm động lực cho NEOTECH Computer trong hành trình phát triển.
                        </p>
                        <p class="mb-2">
                            Năm 2024 đánh dấu 20 năm thành lập của NEOTECH Computer
                        </p>
                        <p class="mb-2">
                            Nhằm ghi dấu cột mốc 20 năm hoạt động, NEOTECH Computer long trọng tổ chức Lễ kỷ niệm 20 năm thành lập với tên gọi: "20 năm Hành trình của niềm tin" như một thông điệp tri ân của doanh nghiệp gửi đến toàn thể đối tác, khách hàng đã đồng hành cùng NEOTECH Computer trong hành trình 20 năm qua. Bà Lê Thị Hương Giang - Tổng giám đốc NEOTECH Computer bày tỏ: "Trong 20 năm hình thành và phát triển với muôn vàn khó khăn thử thách, bằng niềm tin và ý chí vươn lên mạnh mẽ đã giúp NEOTECH vượt qua khó khăn để tiến lên phía trước. Để có được thành công của hôm nay, bên cạnh sức mạnh nội lực khởi phát từ Tâm và Tín, mong muốn đem tới những sản phẩm tốt nhất trên thị trường, còn có sự góp sức và đồng hành của các đối tác, khách hàng đã luôn tin tưởng, trao cho chúng tôi động lực để tiến nhanh, tiến mạnh hơn trong tương lai. Thông điệp hành trình của niềm tin sẽ là minh chứng và là lời khẳng định cho sự gắn bó của NEOTECH Computer và những đối tác, khách hàng thân yêu.".
                        </p>

                        <h2 class="title mb-3 mt-5">2. Tầm nhìn của NEOTECH</h2>
                        <ul class="mb-2">
                            <li>Mục tiêu trở thành công ty có hệ thống Siêu thị máy tính quy mô, chuyên nghiệp và trải rộng khắp các miền, đem đến sự tiện lợi cho khách hàng.</li>
                            <li>Xây dựng NEOTECH trở thành một môi trường làm việc chuyên nghiệp nơi mà mọi cá nhân phát huy tối đa sức sáng tạo, năng lực của bản thân.</li>
                            <li>Xây dựng NEOTECH trở thành ngôi nhà chung cho mọi cán bộ nhân viên cùng nhau phát triển, chia sẻ quyền lợi, trách nhiệm và nghĩa vụ công bằng, minh bạch nhất.</li>
                        </ul>

                        <h2 class="title mb-3 mt-5">3. Giá trị cốt lõi của NEOTECH</h2>
                        <ul class="mb-2">
                            <li>Trưởng thành qua những THÁCH THỨC & THẤT BẠI,</li>
                            <li>Thích ứng nhanh là SỨC MẠNH CẠNH TRANH,</li>
                            <li>Sáng tạo là SỨC SỐNG,</li>
                            <li>Tư duy HỆ THỐNG,</li>
                            <li>Kết hợp ĐÔNG TÂY,</li>
                            <li>NEOTECH là ngôi nhà chung.</li>
                        </ul>

                        <h2 class="title mb-3 mt-5">4. Triết lý kinh doanh của NEOTECH</h2>
                        <p class="mb-2">
                            Thấu hiểu: Mỗi khách hàng là một con người – một cá thể riêng biệt, cần được tôn trọng, quan tâm và lắng nghe, thấu hiểu và phục vụ một cách riêng biệt. NEOTECH sẽ là nơi hiểu được nhu cầu của khách hàng hơn bất kỳ công ty nào khác.
                        </p>

                        <h2 class="title mb-3 mt-5">5. Hệ thống Showroom NEOTECH:</h2>
                        <p class="mb-2">
                            <strong>Showroom 1:</strong> 49 Thái Hà - Đống Đa - Hà Nội<br>
                            Công Ty Cổ Phần Thương Mại Máy Tính NEOTECH<br>
                            Tầng 5, Số 49 phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Thành Phố Hà Nội, Việt Nam<br>
                            MST: 0108940873
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> 